<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style='font-weight:bold; max-width:600px; margin:auto; padding-top:150px;'>
    <div style='padding:10px; border: 2px solid black;'>
        <form style='display:flex; justify-content:center;' action="{% url 'search' %}" method="GET">
        <input style="display:flex; width: 80%" type="text" name="search" placeholder="Введите категорию">
        <button style='background-color: blue; color: white; border: 0px' type="submit">Поиск</button>
    </form>
    <table style='width:100%'>
        {% if items %}
            <tr>
                <th>Имя</th>
                <th>Категория</th>
            </tr>
            {% for item in items %} 
            <tr>
                <th> {{item.name}}</th>   <th>{{item.category}}</th>
            </tr>
            {% endfor %}
    </table>
        {% else %}
            <p>Список пуст</p>
        {% endif %}
    </div>

    
</body>

</html>